{% extends "main.html.twig" %}

{% block header %}

<script>
        $(document).ready( function() {

                const mySlides = [
                    { src: "assets/img/gerechten/Scrambled-Eggs-With-Vegetables.jpg"},
                    { src: "assets/img/gerechten/Vegan_Burger.jpg" },
                    { src: "assets/img/gerechten/Sushi_Rolls.jpg" },
                    { src: "assets/img/gerechten/Pizza_Green.jpg" }
                ]//end slides/image

            $("#background-image").vegas ({
                overlay: 'assets/vegas/overlays/02.png',
                slides: mySlides,
                })//end . vegas

        })//end .ready function

    
    </script>

{% endblock %}

{% block content %}

<div class="container-fluid border-shadow-opmaak p-5 m-5 inset border" style="height: 900px; width: 1620px;">          

    <div class="row p-5">                                                                                                                     
        <h1 class="groen"> Boodschappen </h1>
    </div>

    <div class="row scroll-boodschappenlijst">
            {% for record in data %}
            {% set begin = (((record.artikel.prijs * record.boodschappen.aantal)) / 100)|number_format(2, ',') %} 
            <div class="row p-5 m-3">
                <div class="col-md-1" 
                    style="background-image: url('assets/img/ingredienten/{{record.artikel.afbeelding}}'); background-position: center; background-size: cover; height: 125px; width: 125px"> 
                </div>
                <div class="col-md-5-6" style="max-width: 500px">
                    <h2> {{record.artikel.naam}} </h2>
                    <div> {{record.artikel.omschrijving}} </div>
                </div>
                <div class="col-md-1">
                <div class="row">
                    <div class="text-align-center aantal-border"> {{record.boodschappen.aantal}} </div>
                </div>
                </div>
                <div class="col-md-1">                                                                                     
                    <i class="fa fa-euro-sign fa-lg red"></i>  <span> {{begin}}  </span>
                </div>
                <div class="col-md-1">
                    <i class="fa fa-check fa-lg groen"> </i>  
                </div>
                <div class="col-md-1">
                    <i class="fa fa-trash fa-lg red"></i>
                </div>
            </div> <!-- end row in de loop, afbeeldingen/ingredienten/prijs en aantal -->
             
        {% endfor %}
    </div> <!-- end div class row net boven de loop -->

    <div class="row">

        {% set totaal = 0 %}
        {% for record in data %}

            {% set begin = (((record.artikel.prijs * record.boodschappen.aantal)) / 100) %} 
            {% set totaal = (totaal + begin) %} 

        {% endfor %}

        
        
        <div class="col-md-5 p-5">
            <h1 class="red"> Totaal: </h1>
        </div>
        <div class="col-md-7 p-5">
            {{ totaal|number_format(2, ',') }} <!-- format currency nog toevoegen, dit lukt mij alsnog niet, pakt het commando niet -->
        </div>
    </div>


{% endblock %}
