{% extends "main.html.twig" %}

{% block header %}
	<img src="assets/img/logo-v2.png"/>
{% endblock %}

{% block content %}
<script>
	$(document).ready(function () {
document.getElementById("defaultOpen").click();
});
</script>

<div class="row p-5">
	<div class="col-md-6 border-shadow-opmaak" style="background-image: url('assets/img/gerechten/{{data.0.gerecht.afbeelding}}'); background-position: center; background-size: cover"></div>

	<div class="col-md-6 p-5 border-shadow-opmaak">

		<div class="row">
			<div class="col-md-2">
				<i class="fas fa-user-friends" style="color:#b31714"></i>
				4
			</div>

			<div class="col-md-2">
				<i class="fa fa-euro-sign" style="color:#b31714"></i>
				{{ data.0.berekenPrijs |round(2)}}
			</div>

			<div class="col-md-2">
				<i class="fa fa-fire" style="color:#b31714"></i>
				{{ data.0.berekenCalorieen |round(2)}}
			</div>
		</div>
		<!-- end row personen/prijs/calorieen -->

		<div class="row">
			<div class="col-md-10">
				<h2>
					{{ data.0.gerecht.titel }}
				</h2>
			</div>
			<div class="col-md-2">
				<h3>
					****
				</h3>
			</div>
		</div>
		<!-- end row gerecht-titel en favoriet -->

		<div class="row">
			<div class="col-md-3">
				<h4>
					Keuken
				</h4>
			</div>
			<div class="col-md-3">
				{{data.0.keuken.omschrijving}}
			</div>

			<div class="col-md-3">
				<h4>
					Type
					<h4></div>
					<div class="col-md-3">
						{{data.0.type.omschrijving}}
					</div>
				</div>
				<!-- end row keuken/type omschrijving -->

				<div class="row">
					{{data.0.gerecht.lange_omschrijving}}
				</div>
				<!-- end row gerecht-lange_omschrijving -->

				<div class="row p-4">
					<div class="col-md-11">
						<button class="button">Op Lijst</button>
					</div>
					<div class="col-md-1">
						<i class="fa fa-heart fa-2x" style="color: red"></i>
					</div>
				</div>
				<!-- end row smullen button en favoriet -->

			</div>
			<!-- end col-md-6 rechtse column -->

		</div>
		<!-- end div class row p-5 -->

		<div class="row p-5">

			<div class="tab">
				<button class="tablinks" onclick="openTab(event, 'Ingredienten')" <span class="custom-tab-detail" id="defaultOpen">Ingredienten</button>
				<button class="tablinks" onclick="openTab(event, 'Bereidingswijze')">Bereidingswijze</button>
				<button class="tablinks" onclick="openTab(event, 'Opmerkingen')">Opmerkingen</button>
			</div>

			<div id="Ingredienten" class="tabcontent">
				{% for record in data.0.ingredienten %}
					<div class="row m1-5 mt-4" style="min-height: 100px;">
						<div class="col-md-2"
							style="background-image: url('assets/img/ingredienten/{{record.afbeelding}}'); background-position: center; background-size: cover; height: 150px; width: 150px;">
						</div>

						<div class="col-md-10">
							<h4>
								{{record.naam}}
							</h4>
							<div>
								{{record.omschrijving}}
							</div>
							<div>
								<span class="groen pretty-font">Hoeveelheid:</span> 
								<span> 
									{{record.aantal}} 
								    {{record.eenheid}}
								</span> 
								
							</div>
						</div> <!-- end div class col-md-11 -->
					</div> <!-- end row ingredienten -->
				{% endfor %}
			</div> <!-- end Ingredienten tab -->

			<div id="Bereidingswijze" class="tabcontent">
				{% for record in data.0.bereidingswijze %}
					<div class="row">
						<div class="col-md-1 pb-2">
							<p  style="border: 4px; border-radius: 50%; background-color: #fca01f; text-align: center; color: #FFF;"> {{record.nummeriekveld}}. </p>
						</div>
						<div class="col-md-11 pb-2">
							{{record.tekstveld}}
						</div>
					</div>
				{% endfor %}
			</div> <!-- end bereidingswijze tab -->

			<div id="Opmerkingen" class="tabcontent">
				{% for record in data.0.opmerkingen %}
					<div class="row pt-3 p1-5">
						<div class="col-md-2">
							<div class="row" style="background-image: url('assets/img/users/{{record.afbeelding}}'); background-position:center; background-size: cover; width: 100px; height: 100px; border-radius: 50%; border: 4px solid #fca01f;">
							</div>
						</div>

						<div class="col-sm-10 p1-4">
							<div class="row h2-5">
								<h4> {{record.user_name}} </h4>
							</div>
							<div class="row">
								{{record.tekstveld}}
							</div>
						</div>
					</div>
				{% endfor %}
				
			</div> <!-- end opmerkingen tab -->

		</div> <!-- end row tabs detail pagina -->

{% endblock %}
