{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}

<script>
        $(document).ready( function() {

            const mySlides = $("#mySlides").MySlides({

                const mySlides = [
                    { src: "assets/img/gerechten/Scrambled-Eggs-With-Vegetables.jpg"},
                    { src: "assets/img/gerechten/Vegan_Burger.jpg" },
                    { src: "assets/img/gerechten/Sushi_Rolls.webp" },
                    { src: "assets/img/gerechten/Pizza_Green.jpg" }
                ]//end slides/image

            })//end const mySlides

            $("#background-image").vegas ({
                overlay: 'assets/vegas/overlays/02.png',
                slides: mySlides,
                })//end . vegas

        })//end .ready function

    
    </script>

{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}

{# Loop #}
    {% for record in data %}
<script>

$(document).ready( function() {

	$('.star-{{record.gerecht.id}}').each( (index, elem) => {

		const rating = {{record.gemiddeldeWaardering}}
		const itemValue = $(elem).attr('data-value')
              if(itemValue <= rating) {
                $(elem).addClass('groen')
              }// end if add groen
	})//end data ophalen 

})//end document .ready function

</script>

<div class="col-md-6 p-5">
    
	<div class="row border-shadow-opmaak" style="min-height: 400px">
		<div class="col-md-12" style="background-image: url('assets/img/gerechten/{{record.gerecht.afbeelding}}'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>	
	</div>

    <div class="row border-shadow-opmaak"> 
        <div class="col-md-6" style="background-color: #FFF">
		    <h2 style="color: #6e8722;"> {{ record.gerecht.titel }} </h2>
        </div> 
        <div class="col-md-6"> 
            <h3> 
                <span class="star-{{record.gerecht.id}}" data-value="1">*</span>
				<span class="star-{{record.gerecht.id}}" data-value="2">*</span>
				<span class="star-{{record.gerecht.id}}" data-value="3">*</span>
				<span class="star-{{record.gerecht.id}}" data-value="4">*</span>
				<span class="star-{{record.gerecht.id}}" data-value="5">*</span>
            </h3> 
        </div>
    </div>

     {# sub-loop #}
            
                <!--{% for ingr in record.ingredienten %}
                    
                {% endfor %}-->

    <div class="row border-shadow-opmaak"> 
        <div class="col-md-12" style = "background-color: #FFF; min-height: 150px">
         {{ record.gerecht.korte_omschrijving }}
        </div>
    </div> 

    <div class="row border-shadow-opmaak">
        <div class="col-md-6" style="background-color: #FFF"> 
            <button class="button"><a href = "index.php?gerecht_id={{record.gerecht.id}}&action=detail">Smullen!</a></button>
        </div>
        <div class="col-md-2" style="background-color: #FFF">
		    <i class="fas fa-user-friends" style="color:red;"></i> 4
        </div>
        <div class="col-md-2" style="background-color: #FFF"> 
            <i class="fa fa-euro-sign" style="color:red"></i> {{ record.berekenPrijs |round(2)}}
        </div>
        <div class="col-md-2" style="background-color: #FFF"> 
            <i class="fa fa-fire" style="color:red"></i> {{ record.berekenCalorieen |round(0)}}
        </div>
    </div>

</div>
        
    {% endfor %}

      <!--{# Dump #}
       <pre>
        {{ dump(data) }}
       </pre> -->

{% endblock %}
